<h1 class="center">Welcome to Noteful</h1>
<p class="center">Take notes online and access them from anywhere!</p>

<% if current_user %>
  Check out <%= link_to "all your notes", notes_path %>
<% else %>
  Sign in the start creating notes
<% end %>
