/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color:rgb(250, 250, 210);
}
nav {
  background-color: green;
}
nav ul {
  list-style:none;
  padding:5px;
}
nav ul li {
  display:inline;
  border-right:1px solid white;
  padding:5px;
}
nav ul li:last-child {
  border-right:0;
}
nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration:none;
}
nav ul li a:hover {
  color:yellow
}
.center {
  text-align:center;
  display:block;
  margin:0 auto;
}
.container {
  display:block;
  margin:0 auto;
  text-align:center;
}
.button {
  text-decoration:none;
  border:1px solid black;
  border-radius:10px;
  padding:10px;
  background-color:inherit;
  font-size:14px;
  font-weight:bold;
  color:black;
  display:inline-block;
}