/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: white;
  color: rgb(73, 73, 73);
}

h1, h2, h3 {
  color: rgb(73, 73, 73);
}

a {
  color: #1F4F2B;
}

nav {
  background-color: rgb(135, 181, 135);
  height: 40px;
}
nav ul {
  list-style:none;
  padding:5px;
}
nav ul li {
  display:inline;
  border-right: 1px solid rgb(114, 149, 114);
  padding:5px;
}
nav ul li:last-child {
  border-right:0;
}
nav ul li a {
  font-weight: bold;
  text-decoration:none;
}
nav ul li a:hover {
  color: #45458E;
}

.content {
  padding-right: 10px;
  padding-left: 10px;
}

.center {
  text-align:center;
  display:block;
  margin:0 auto;
}
.container {
  display:block;
  margin:0 auto;
  text-align:center;
}
.button {
  text-decoration:none;
  border: 1px solid rgb(132, 132, 132);
  border-radius: 3px;
  padding:6px;
  background-color:inherit;
  font-size:14px;
  font-weight:bold;
  color: rgb(70, 69, 69);
  display:inline-block;
  margin: 5px;
}

.pull-right {
  float: right;
}

.flash {
  color: green;
}
